.loadinglogo {
  width: 85vw;
  margin-bottom: -3.5rem;
}

#mealrow a:link {
  color: rgb(113, 3, 27);
}

#mealrow a:visited {
  color: rgb(235, 63, 97);

}

#tb td, th{
  border: black 0.1rem solid;
  padding: 1rem;
  text-align: center;
}

#foodcol {
  display: flex;
  justify-content: center;
  align-items: center;
}

#transcript {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 1rem;
  border: 1px solid black;
  padding: 1rem;
  width: 95vw;
  background-color: white;
}

#food {
  border-radius: 1rem;
  width: 100%;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95); /* semi-transparent white background */
  z-index: 9999; /* Ensure the loading overlay appears on top of other content */
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  justify-content: center;
  align-items: center;
}

/* CSS for the loader */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
  font-size: 1.5rem;
  background: linear-gradient(135deg, #0000 calc(50% - 0.5em), #000 0 calc(50% + 0.5em), #0000 0) right/300% 100%;
  animation: l22 2s infinite;
}

.loader::before {
  content: "Betöltés...";
  color: #0000;
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(135deg, #000 calc(50% - 0.5em), #fff 0 calc(50% + 0.5em), #000 0);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes l22 {
  100% {
    background-position: left;
  }
}

#page-content {
  display: none; /* Initially hide the page content */
}

a:link {
 color: rgb(233, 190, 92);
}

a:visited {
  color: rgb(233, 194, 103);
}

.wrapper {
  flex: 1;
}

#titleontop {
  margin-top: 1rem;
}

body {
  background: linear-gradient(white, rgb(245, 230, 204));
  background-repeat: repeat;
  font-family: sans-serif, Arial, Helvetica, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} 

.navbar {
  background-color: #fceed8;
}

.freetimels {
  padding-left: 0;
}

.freetimels li {
  list-style: none;
  margin-bottom: 1rem;
}


.navbar :any-link {
  color: black;
}

.justified {
  text-align: justify;
}

.c-item {
  height: 35vh;
}

.c-img {
  height: 100%;
  object-fit: cover;
}

#logo {
  height: 45vh;
  margin-top: -3rem;
}

.intro {
  font-size: 1rem;
  font-family: sans-serif, Arial, Helvetica, 'Times New Roman', Times, serif;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  margin-top: 3rem;
}

.f-img {
  width: 100%;
}

.f {
  margin: 0.01rem;
}

.apartmentImg {
  width: 100%;
}


.leftborder-green{
  border-left: solid green 0.35rem;
  padding-left: 0.5rem;
}

.leftborder-red{
  border-left: solid red 0.35rem;
  padding-left: 0.5rem;
}

.roundedimage {
  border-radius: 1rem;
}

.fh5 {
  margin-top: 2rem;
}

#email {
  font-size: 0.95rem;
}

#together {
  margin-top: 2rem;
}

.video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#deluxeBackground {
  background-image: url('media/6-7/2_6.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 1.5rem;
  height: 35vh;
}

#standardBackground {
  background-image: url('media/2-4/1_1.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 1.5rem;
  height: 35vh;
}

.apartmentTitle {
  color: rgb(0, 0, 0);
  font-family: comic-sans;
  font-style: italic;
  background-color: rgba(238, 225, 225, 0.5);
  width: 100%;
  font-size: 3rem;
}

.apartmentDescription {
  font-family: 'comic sans, Times New Roman, Times, serif';
}

.apartmentCol {
  justify-content: center;
  align-items: center;
}

.list-unstyled-mobile {
  list-style: none;
  text-align: center;
  margin-left: 1.25rem;
}

figcaption {
  font-family: 'Times New Roman', Times, serif;
  margin-top: -1rem;
  text-align: center;
}

.freetimeImg {
  height: 55vh;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.freetime-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 576px) {
  .apartmentTitle {
    font-size: 3.5rem;
  }
  .loadinglogo {
    width: 70vw;
  }
  .c-item {
    height: 48vh;
  }
  .intro {
    font-size: 1.125rem;
  }
  .loader {
    font-size: 1.75rem;
  
  }
}

@media screen and (min-width: 768px) {
  .c-item {
    height: 50vh;
  }

  .intro {
    font-size: 1.25rem;
    font-family: 'Times New Roman', Times, serif;
  }

  .fh5 {
    margin-top: 0rem;
  }

  .d-col {
    margin-top: 6rem;
  }

  .apartmentTitle {
    font-size: 6rem;
  }

  #deluxeBackground {
    height: 50vh;
  }

  #standardBackground {
    height: 50vh;
  }

  .list-unstyled-mobile {
    list-style: circle;
    text-align: left;
  }

  .freetimeImg {
    height: 40vh;
  }

  .freetime-div {
    justify-content: end;
  }
  .loader {
    font-size: 2.5rem;
  }
  .card {
    width: 85vw;
  }
  .loadinglogo {
    margin-bottom: -5rem;
    width: 60vw;
  }
}

@media screen and (min-width: 992px) {
  .c-item {
    height: 55vh;
  }

  .intro {
    font-size: 1.5rem;
  }

  #email {
    font-size: 1rem;
  }

  .apartmentDescription {
    line-height: 3rem;
  }

  .apartmentTitle {
    font-size: 8rem;
  }

  #deluxeBackground {
    height: 55vh;
  }

  #standardBackground {
    height: 55vh;
  }

  .freetimeImg {
    height: 55vh;
  }

  .loadinglogo {
    width: 50vw;
  }
  .loader {
    font-size: 2.25rem;
  }
  .card {
    width: 75vw;
  }
  .loadinglogo {
    margin-bottom: -5rem;
  }
}

@media screen and (min-width: 1200px) {
  .c-item {
    height: 87vh;
  }
  .apartmentTitle {
    font-size: 10rem;
  }

  #deluxeBackground {
    height: 60vh;
  }

  #standardBackground {
    height: 60vh;
  }

  .freetimeImg {
    height: 60vh;
  }

  .loadinglogo {
    width: 40vw;
  }
  .loader {
    font-size: 2.8rem;
  }
  .card {
    width: 50vw;
  }
}